* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    padding: 20px;
}

.form-group {
    margin-top: 15px;
}
.form-group_btn {
    margin-top: 10px;
    padding: 10px;
}